<mat-card
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  style="margin-top: 20px"
>
  <mat-card-header>
    <mat-card-title>Employee Detail Form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="employeeform"
      *ngIf="employeeform"
      fxLayout="matRowDef"
      fxLayoutGap="30px"
    >
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Id</mat-label>
          <input matInput formControlName="id" name="id" />
        </mat-form-field>
        <mat-error
          *ngIf="
            employeeform.controls['id'].hasValidator &&
            employeeform.controls['id'].invalid &&
            employeeform.controls['id'].touched
          "
        >
          Id is <strong>required</strong>
        </mat-error>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" name="name" />
        </mat-form-field>
        <mat-error
          *ngIf="
            employeeform.controls['name'].hasValidator &&
            employeeform.controls['name'].invalid &&
            employeeform.controls['name'].touched
          "
        >
          Name is <strong>required</strong>
        </mat-error>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" name="age" />
        </mat-form-field>
        <mat-error
          *ngIf="
            employeeform.controls['age'].hasValidator &&
            employeeform.controls['age'].invalid &&
            employeeform.controls['age'].touched
          "
        >
          Age is <strong>required</strong>
        </mat-error>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Position</mat-label>
          <input matInput formControlName="position" name="position" />
        </mat-form-field>
        <mat-error
          *ngIf="
            employeeform.controls['position'].hasValidator &&
            employeeform.controls['position'].invalid &&
            (employeeform.controls['position'].touched ||
              employeeform.controls['position'].dirty)
          "
        >
          Position is <strong>required</strong>
        </mat-error>
      </p>
      <p>
        <ng-container formArrayName="hobbies">
          <ng-container
            *ngFor="let hobbiesform of hobbies.controls; let i = index"
          >
            <div [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Hobby</mat-label>
                <input matInput formControlName="hobby" name="hobby" />
              </mat-form-field>
              <mat-icon
                style="position: absolute; margin-left: 3px"
                (click)="deleteHobby(i)"
              >
                delete_forever</mat-icon
              >
              <mat-error
                *ngIf="
                  hobbiesform.get('hobby')?.hasError('required') &&
                  hobbiesform.get('hobby')?.hasError('dirty')
                "
              >
                Enter you hobby
              </mat-error>
            </div>
          </ng-container>

          <button mat-mini-fab (click)="addHobby()">
            <mat-icon>add</mat-icon>
          </button>
        </ng-container>
      </p>
      <P>
        <button
          mat-raised-button
          color="accent"
          [disabled]="employeeform.invalid"
          (click)="!isUpdate ? onSave() : OnChange()"
          style="margin-top: 10px"
        >
          {{ !isUpdate ? "Save" : "Update" }}
        </button>
      </P>
    </form>
  </mat-card-content>
</mat-card>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef="let element">{{ element.age }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let element">{{ element.position }}</td>
  </ng-container>

  <!-- hobby -->
  <ng-container matColumnDef="hobby">
    <th mat-header-cell *matHeaderCellDef>Hobby</th>
    <td mat-cell *matCellDef="let element">{{ element.hobby }}</td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element" fxLayoutGap="20px">
      <button mat-raised-button color="primary" (click)="onUpdate(element)">
        Edit
      </button>
      <button mat-raised-button color="primary" (click)="onDelete(element)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
