<mat-card
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  style="margin-top: 20px"
>
  <mat-card-title>Employee Template Driven Form</mat-card-title>
  <mat-card-content>
    <form
      *ngIf="employee"
      fxLayout="matRowDef"
      fxLayoutGap="10px"
      #form="ngForm"
    >
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            [(ngModel)]="employee.name"
            name="name"
            minlength="3"
            maxlength="“30”"
            #name="ngModel"
            required
          />
        </mat-form-field>
        <mat-error
          *ngIf="name.errors?.['required'] && name.dirty && name.touched"
          >Name is required.</mat-error
        >
        <mat-error *ngIf="name.errors?.['minlength'] && name.dirty"
          >Name must contain more than 3 letter</mat-error
        >
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            [(ngModel)]="employee.email"
            name="email"
            pattern="^([\w]*[\w\.]*(?!\.)@gmail.com)"
            #email="ngModel"
            required
          />
        </mat-form-field>
        <mat-error
          *ngIf="email.errors?.['required'] && email.dirty && email.touched"
          >email is required.</mat-error
        >
        <mat-error *ngIf="email.errors?.['pattern'] && email.dirty "
          >Email be like :"example@gmail.com" .</mat-error
        >
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input
            matInput
            placeholder="Address"
            [(ngModel)]="employee.address"
            name="address"
            #address="ngModel"
            required
          />
        </mat-form-field>
        <mat-error
          *ngIf=" address.dirty && address.errors?.['required'] && address.touched"
        >
          Enter an Address
        </mat-error>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input
            matInput
            placeholder="Phone"
            [(ngModel)]="employee.phone"
            name="phone"
            pattern="[0-9]*"
            #phone="ngModel"
            required
          />
        </mat-form-field>
        <mat-error
          *ngIf="(phone.errors?.['required'] && phone.dirty )&& phone.touched"
          >Phone is required.</mat-error
        >
        <mat-error *ngIf="phone.errors?.['pattern'] && phone.dirty"
          >Phone must contain only numbers.</mat-error
        >
      </p>
      <p fxLayoutGap="10px">
        <button
          mat-raised-button
          [disabled]="form.invalid"
          color="primary"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="form.reset({}); isUpdate = false"
        >
          Reset
        </button>
      </p>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element" fxLayoutGap="20px">
        <button mat-raised-button color="primary" (click)="onUpdate(element)">
          Edit
        </button>
        <button mat-raised-button color="primary" (click)="onDelete(element)">
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
